* {
  box-sizing: border-box;
}

html {
  background-color: white;
}

body {
  background-color: rgb(240, 240, 240);
  color: rgb(80, 80, 80);
  font-family: sans-serif;
  margin: 0 auto;
  padding: 1em 1em;
}

header {
  border-bottom: 1px solid gray;
}

main {
  margin-bottom: 2em;
}

h1 {
  color: black;
  display: inline-block;
  margin-right: 1em;
}

h2 {
  display: inline-block;
  font-style: italic;
}

label {
  margin-right: 0.5em;
}

input {
  margin-bottom: 2em;
  font-size: 1.2em;
}

a {
  color: rgb(120, 120, 120);
}

#input-wrapper {
  padding: 1em 0;
  text-align: center;
}

#chart{
  position: relative;
}

#x-axis-label, #y-axis-label{
  position: absolute;
  font-size: 0.7em;
  color: rgb(150, 150, 150);
}

#x-axis-label {
  left: 3em;
  top: -1em;
}

#y-axis-label{
  left: -3em;
  top: 5em;
  transform: rotate(-90deg);
}

#years {
  width: 100%;
  margin-top: 1em;
}

.year {
  font-size: 0.8em;
  line-height: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.milestone {
  text-align: center;
  color: rgb(150, 150, 150);
  font-size: 0.8em;
  padding: 0.2em 0;
}

.year div {
  flex-grow: 1;
  height: 0.8em;
  margin-bottom: 2px;
  margin-right: 2px;
}

.index {
  color: rgb(150, 150, 150);
  font-size: 0.9em;
  padding-right: 0.5em;
  text-align: right;
  width: 2em;
}

.week {
  background-color: rgb(210, 210, 210);
  border-radius: 1px;
}

.spent {
  background-color: rgb(150, 180, 220);
}

footer {
  text-align: center;
}

@media (min-width: 40em) {
  body {
    width: 40em;
    padding: 2em 2em;
  }
}

@media print {
  body {
    background-color: white;
    width: 100%;
    padding: 0;
  }

  main {
    margin: 0 auto;
  }

  header {
    border-bottom: none;
    text-align: center;
  }

  h1 {
    margin: 0;
  }

  h2, #desc, #input-wrapper label {
    display: none;
  }

  #input-wrapper {
    padding: 0;
    text-align: center;
    border-bottom: 1px solid gray;
  }

  input {
    border: none;
    font-size: 1em;
    margin-bottom: 0.5em;
  }

  #x-axis-label, #y-axis-label  {
    font-size: 0.8em;
  }

  .year {
    font-size: 0.58em;
  }

  .week {
    background-color: transparent;
    border: 1px solid rgb(210, 210, 210);
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  .spent {
    background-color: transparent;
    border: 1px solid rgb(150, 180, 220);
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  footer {
    display: none;
  }
}
